.logo {
    width: 100px;
    height: 70px;
}

.case {
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-bot-15px {
    margin-bottom: 15px;
}

.margin-right-5px {
    margin-right: 5px;
}

.margin-right-20px {
    margin-right: 100px;
}
.margin-top-20px{
    margin-top: 20px;
}

.margin-left-5px {
    margin-left: 10px;
}

.margin-left--10px {
    margin-left: -10px;
}
.margin-left--12px {
    margin-left: -12px;
}

.button-right {
    position: relative;
    display: inline-block;
    float: right;
}

.titleConsultation{
    font-size: 30px;
}

.questionConsultation{
    font-size: 20px;
}

.bold {
    font-weight: bold;
    font-size: 1.1rem;
}

.border_grey{
    border-style: groove;
    border-width:2px;
}
.souligner{
    text-decoration: underline gray;
    margin-left: 5px;
    size: 15px;
    font-size: 110%;
}

.margin-left-15 {
    margin-left: 15%;
}

.margin-left-5 {
    margin-left: 5px;
}

.label-inside-box {
    margin-left: 10px;
}

.loader {
    margin: 0 auto;
    width: 100px;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blue-bold {
    color: rgb(30, 125, 235);
}

.box-question-most-value {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(166, 181, 228);
    border-style: dotted;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.thankyou-bold{
    color: rgb(30, 125, 235);
    position: absolute;
    right:40%;
    margin-top:8px;
}

.margin-left-20 {
    margin-left: 20%;
}

.margin-left-22 {
    margin-left: 22%;
}

.margin-left-25 {
    margin-left: 25%;
}

.margin-left-30 {
    margin-left: 30%;
}


.margin-left-16 {
    margin-left: 16%;
}

.margin-left-5 {
    margin-left: 15%;
}
.margin-left-12 {
    margin-left: 12%;
}

.vl {
    border-left: 1px solid grey;
    height: 80px;
}
.image_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hl {
    border-top: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.margin-button-clear{
    margin-bottom: 5px;
    margin-left: -20px;
}

.hl-2 {
    border-top: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.buttonRight {
    position: absolute;
    right: 0px;
}