
.input-system10{
  appearance:none;
  margin:0 10px;
  width: 24px;
  height: 24px;
  background: #eeeeee;
  box-shadow:
    inset 0 0 0 .4em white,
    0 0 0 .3em;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
  color: rgb(226, 219, 219);

  &:hover,
  &:checked {
    background: rgb(226, 219, 219);
    box-shadow:
    inset 0 0 0 .6em white,
    0 0 0 .3em;
  }
  
  &:checked {
    background: #91c5f0;
    box-shadow:
      inset 0 0 0 .4em white,
      0 0 0 .3em #91c5f0;
  } 

  &:focus { outline: 0; }
}

.margin-left-35px {
    margin-left: 35px;
}

.margin-left-34px {
    margin-left: 34px;
}

.margin-left-31px {
    margin-left: -13px;
}

.margin-left-32px {
    margin-left: 29px;
}